html {
    background-color: #000;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

main, nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: none;
}

nav button {
    border: 1px solid #0f0;
    background-color: #000;
    color: #0f0;
    display: block;
    width: 147px;
    padding: 5px 0;
    margin: 10px 0;
}

nav button:active {
    border: 1px solid #ff0;
    color: #ff0;
}

main > div {
    position: relative;
}

canvas#_stage {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #0f0;
}

#_info {
    position: absolute;
    right: 0;
    top: 0;
    color: #707070;
    width: 100px;
}